name: Svea Release

on:
  workflow_dispatch:
    branches: [ "master" ]

jobs:
  new-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master
          path: woocommerce_payment_module

      - name: Create release package
        run: cd /home/runner/work/woocommerce_payment_module/woocommerce_payment_module && zip -r ./woocommerce_payment_module.zip ./woocommerce_payment_module

      - name: Copy documentation to release
        run: cd /home/runner/work/woocommerce_payment_module/woocommerce_payment_module && cp ./woocommerce_payment_module/docs/Svea_Payment_Gateway_Manual.pdf .

      - name: Read release.md and use it as a body of new release
        id: read_release
        shell: bash
        run: |
          r=$(cat /home/runner/work/woocommerce_payment_module/woocommerce_payment_module/woocommerce_payment_module/RELEASE.md)   # <--- Read release.md (Provide correct path as per your repo)
          r="${r//'%'/'%25'}"                               # Multiline escape sequences for %
          r="${r//$'\n'/'%0A'}"                             # Multiline escape sequences for '\n'
          r="${r//$'\r'/'%0D'}"                             # Multiline escape sequences for '\r'
          echo "RELEASE_BODY=$r" >> $GITHUB_OUTPUT          # <--- Set environment variable

      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.SVEA_RELEASE_TOKEN }}
          file: woocommerce_payment_module.zip
          asset_name: woocommerce_payment_module.zip
          tag: 2.6.9   # TODO variable, was ${{ github.ref }}
          overwrite: true
          prerelease: false
          file_glob: false
          body: |
            ${{ steps.read_release.outputs.RELEASE_BODY }}

      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.SVEA_RELEASE_TOKEN }}
          file: Svea_Payment_Gateway_Manual.pdf
          asset_name: Svea_Payment_Gateway_Manual.pdf
          tag: 2.6.9    # TODO variable, was ${{ github.ref }}
          overwrite: false
          prerelease: false
          file_glob: false

